@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
@import '@styles';

// Reset
* {
  margin: 0;
  padding: 0;
  color: inherit;
  transition: .3s;
  list-style: none;
  user-select: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
html, body, #root, main {
  @include wrap();
  overflow: hidden;
}
button, a[btn] {
  @include font(13px, 400, #fff);
  @include border(1px solid #00ada9, 3px);
  background-color: #00ada9;
  padding: 0 12px;
  height: 30px;
  margin: 0 0 0 5px;
  cursor: pointer;

  &:not(&:disabled):hover {
    background-color: #00a8a4;
  }
  &:not(&:disabled):focus {
    outline: 0;
    box-shadow: 0 0 0 4px #00bfbb40;
  }
  &:not(&:disabled):active {
    background-color: #00a29d;
  }
  &:disabled {
    cursor: default;
  }
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  thead {
    @include position-top-left(sticky, -1px);
    background-color: #f5f5f5;
    z-index: $index1;

    th {
      @include font(14px, 500, $darkGray, 1px);
      @include text-overflow();
      text-overflow: unset;
      text-align: left;
      padding: 10px;
      border: 1px solid $whiteGray;
      transition: .3s;
    }
  }
  tbody {
    tr:hover {
      background-color: $whiteGray;
      & > td {
        color: $black;
      }
    }

    td {
      @include font(13px, 400, $darkGray);
      @include text-overflow();
      padding: 10px;
      border: 1px solid $whiteGray;
      transition: .3s;
      position: relative;
    }
  }
}

::-webkit-scrollbar {
  @include size(5px, 5px);
  border-radius: 0;
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}